@charset "UTF-8";

*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 100%;
}

body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}

img{
  max-width: 100%;
  vertical-align: bottom;
}

a{
  text-decoration: none;
  color: #000;
}

li{
  list-style: none;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

#header{
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

#header .flex1{
  display: flex;
  align-items: center;
}

#header .site-title{
  width: 120px;
  height: 80px;
  margin: 10px 80px;
}

#header .flex2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

#header nav li{
  margin-right: 30px;
}

#header nav li:last-child{
  margin-right: 220px;
}

#header .question{
  background-color: #000;
  margin-left: 400px;
  margin-top: -20px;
  margin-right: 45px;
  padding: 15px 30px;
}

#header .question a{
  display: inline-block;
  color: #f0f0f0;
}

#main .mainvisual{
  margin-bottom: 120px;
}

.section-title .en{
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: 10px;
  margin-bottom: 5px;
}

.section-title .ja{
  width: 60px;
  margin-bottom: 80px;
  padding-bottom: 40px;
  border-bottom: solid 1px #000;
}

#news .contents{
  display: flex;
  margin-bottom: 120px;
}

.contents .content{
  display: flex;
}

#news .contents .a,
#news .contents .b{
  margin-right: 150px;
}

.contents .b,
.contents .c{
  padding-left: 20px;
  border-left: solid 1px #000;
}

.content{
  margin-bottom: 15px;
}

.content p{
  margin-right: 20px;
}

.content .span{
  padding: 1px 5px;
  background-color: #000;
  color: #f0f0f0;
}

#about .flex-about{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.flex-about .image{
  width: 55%;
  margin-right: 5%;
  margin-left: 0;
}

.flex-about .text{
  width: 35%;
  padding-top: 160px;
  margin-right: 5%;
}

.flex-about .text p{
  line-height: 2.5;
}

.flex-business{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.flex-business .image{
  width: 45%;
  margin-right: 5%;
  margin-bottom: 60px;
}

.flex-business .image img{
  border-radius: 50px;
  height: 240px;
}

.flex-business .image h3{
  margin-bottom: 20px;
}

.flex-business .image h3::before{
  content: "- ";
}

.flex-business .image:first-child,
.flex-business .image.image:nth-child(3n){
  padding-top: 100px;
}

.flex-company{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.content-company{
  position: relative;
  width: 45%;
  margin-left: 10%;
  padding-left: 5%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

.flex-company dl{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-company dt{
  width: 20%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.flex-company dd{
  width: 65%;
  padding-right: 10%;
  margin-bottom: 10px;
}

.flex-company .image{
  position: absolute;
  left: 700px;
  width: 40%;
}

.flex-company .image img{
  width: 90%;
  height: 360px;
  object-fit: cover;
}















#footer .copyright{
  text-align: center;
  padding-top: 30px;
}

#footer .logo{
  width: 120px;
  height: 80px;
}

#footer{
  margin-top: 80px;
  padding-top: 40px;
  background-color: #fff;
}

#footer .flex-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .logo{
  padding-top: 20px;
}